<h1>All Vendors</h1>

<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor.id) %></li>
  <% end  %>
</ul>

<%= button_to "Sweets Index", sweets_path, method: :get %>
<%= button_to "Create new VendorSweet", new_vendor_sweet_path, method: :get %>
