<h1>All Vendors</h1>
<hr>
<%# @vendor_sweets.avg_price_all %>
<ul>
  <% @vendors.each do |vendor| %>
    <p><%= link_to vendor.name, vendor %> | average price: <%= vendor.avg_price %> cents </p><hr>
  <% end  %>
</ul>
