<h1> Vendors Index Page </h1>

<%= button_to "Create a new VendorSweet", new_vendor_sweet_path, method: :get %>

<h2> Average price for all Sweets </h2>

<%# @vendor.average_sweet %>

<h2> List of Vendors </h2>
<ul>
  <% @vendors.each do |vendor| %>
    <li><%= link_to vendor.name, vendor_path(vendor)%></li>
  <% end  %>
</ul>

