<h1>Vendor Information</h1>

<p><b>NAME:</b><%= @vendor.name %></p>


<h2>Sweets We Sell</h2>
<% #adding.uniq because seed data had dupes before I added validations to prevent duplicate pairs%>
<% @vendor.sweets.uniq.each do |sweet| %>
<%= link_to sweet.name, sweet %>
<% end%>