<h1><%= @vendor.name %>'s Page</h1>
<h3>Average price of Sweets at <%= @vendor.name %> is <%= @vendor.avg_price %> cents</h3>
<hr>

<ul>
<% @vendor.sweets.each do |sweet| %>
  <p><%= link_to sweet.name, sweet %> </p><hr>
<% end %>
</ul>


<%# the Vendor's name (ie. Insomnia Cookies)
# a list of the Sweets that they sell
# each Sweet in the list should link to that Sweet's show page %>