<h1>All Sweets</h1>

<ul>
  <% @sweets.each do |sweet| %>
    <li> <%= link_to sweet.name, sweet_path(sweet.id) %> </li>
  <% end  %>
</ul>

<%= button_to "Vendors Index", vendors_path, method: :get %>
<%= button_to "Create new VendorSweet", new_vendor_sweet_path, method: :get %>