<h1>All Sweets</h1>

<%= button_to "Create a new VendorSweet", new_vendor_sweet_path, method: :get %>

<ul>
  <% @sweets.each do |sweet| %>
    <li><%= link_to sweet.name, sweet_path(sweet) %></li>
  <% end  %>
</ul>
