

<h1> Sweet Show Page </h1>

<%= @sweet.name %>
<%# @sweet.vendors.each do |vender| %>
<%# link_to vendors.name, vendor %> 
<%#end %>
<br>
********************I wanted to find the specific sweet the itterate through it to find all its vendors with @sweet.vendors 
(active record gives me this method which is established by the relationship)******************

<br>