<h1><%= @sweet.name %></h1>

<h2>Vendors: </h2>
<ul>
<% @sweet.vendors.each do |vendor| %>
  <li>
    <%= link_to vendor.name, vendor_path(vendor) %>
  </li>
<% end %>
</ul>

<%= link_to 'Return to Index', sweets_path %> <br>
<%= link_to 'New Sweet', new_vendor_sweet_path %>