<h1><%= @sweet.name %></h1>

Vendors Selling this Sweet:
<% if @sweet.vendors.count > 0 %>

    <ul>
        <% @sweet.vendors.each do |vendor| %>
            <li>
                <%= link_to vendor.name, vendor_path(vendor) %>
            </li>
        <% end %>
    </ul>

<% else %>
    
    None Yet!

<% end %>