<h1>Sweets Information</h1>

<p><b>NAME:</b><%= @sweet.name %></p>


<h2>Vendors that stock me</h2>
<% #adding.uniq because seed data had dupes before I added validations to prevent duplicate pairs%>
<% @sweet.vendors.uniq.each do |vendor| %> 
<%= link_to vendor.name, vendor %>
<% end%>